<html>

<head>
    <title> - Wetterfrosch search - </title>
    <meta name="viewport" content="width=device-width">

    <link href="/static/css/flatui/dist/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/flatui/dist/css/flat-ui.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">

</head>
<body>

<div class="myApp">

    <div class="row">
        <div class="col-xs-12 col-sm-5 col-md-5 tile">
            <img class="logo" src="/static/Siroop_logo.png" width="100px" align="leftt"/> The Siroop Wetterfrosch!
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div id="geo">
                    <div id="out"></div>
                    <br>
                    <span class="glyphicon glyphicon-home"></span>{{ items.location }}
                </div>
                <br>
                <div id="weather-table" class="weather-table">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class=""><img
                                src="/static/weather_icons_flat/{{ items.symbol }}.png" alt="" class="src weather-table__icon">{{ items.temp_max }}˚C</div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div>
                            <p> Rain Rate: {{ items.rain_rate }} mm <br>
                             aver. Humidity: {{ items.humidity }} % <br>
                             aver. Wind: {{ items.wind }} km/h </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-xs-12 col-sm-7 col-md-7" id="prediction">
            <div class="col-xs-4 col-sm-3 col-md-3 weather-list__col" v-for="item in items">
                <a class="weather-list__link" target="_blank" href="http://www.siroop.ch/{{ item.url }}"><img
                        src="{{ item.image }}" alt="" class="src"></a>
            </div>
        </div>


    </div>
</div>
</div>

<script type="text/javascript" src="/static/js/vue.js"></script>
<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript" src="/static/js/geoFindMe.js"></script>
<script type="text/javascript" src="/static/js/weather_data.js"></script>

</body>

</html>
