<html>

<head>
    <title> - Wetterfrosch search - </title>
    <meta name="viewport" content="width=device-width">

    <link href="/static/css/flatui/dist/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/flatui/dist/css/flat-ui.min.css" rel="stylesheet">

</head>
<body>

<div>
    <p align="center">The Wetterfrosch search!<img class="logo" src="/static/siroop.png" width="100px" align="right"/>
    </p>
</div>
<hr>

<div class="myApp">

    <div class="row">
        <div class="col-sm-3">
            <div class="tile">
                <div id="geo">
                <div id="out"></div>
                <br>
                <table align="auto" cellpadding="2" cellspacing="2" width="40%">
                    <tr>
                        <th colspan="2"> Geo Data:</th>
                    </tr>
                    <tr>
                        <td> Lattitude:</td>
                        <td> {{ items.lat }} </td>
                    </tr>
                    <tr>
                        <td> Longitude:</td>
                        <td> {{ items.lon }} </td>
                    </tr>
                    <tr>
                        <td> Address:</td>
                        <td> {{ items.geolocation }} </td>
                    </tr>
                </table>
                </div>
                <br>
                <!--<a href="#" class="btn btn-block btn-lg btn-primary">Get New Data</a>-->
                <div id="weather-table">
                    <table align="auto" cellpadding="2" cellspacing="2" float="left">
                        <tr>
                            <th colspan="2"> Weather Information:</th>
                        </tr>
                        <tr>
                            <td> Local Temperature:</td>
                            <td> {{ items[0].temperature }} °</td>
                        </tr>
                        <tr>
                            <td> Rain Prob.:</td>
                            <td> {{ items[0].rrp }} %</td>
                        <tr>
                        <tr>
                            <td> Wind Speed:</td>
                            <td> {{ items[0].wind }} km/h</td>
                        <tr>
                        <tr>
                            <td> Sunshine Duration:</td>
                            <td> {{ items[0].sun }} min/h</td>
                        <tr>
                        <tr>
                            <td> Air Pressure:</td>
                            <td> {{ items[0].pressure }} min/h</td>
                        <tr>
                    </table>
                    </div>
            </div>

        </div>
        <div class="col-sm-9">
        </div>
    </div>

</div>

<script type="text/javascript" src="/static/js/vue.js"></script>
<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript" src="/static/js/geoFindMe.js"></script>
<script type="text/javascript" src="/static/js/weather_data.js"></script>

</body>

</html>
