.c-product-list__item {
    height: auto;
    max-width: 100%;
    font-size: 30%;
    padding: 20px;
    display: block;
    position: relative;
}

.c-product-list__image {
    transition: transform .3s;
    transform: scale(1);
}

.c-product-list__title {
    opacity: 0;
    transition: all .3s;
    text-align: center;
    font-size: 15px;
    text-decoration: none;
    color: #000;
    position: absolute;
    top: 32%;
    width: 100%;
    left: 0;
    background: rgba(255,255,255,.8);
    height: 100%;
    padding: 15px;
    transform-origin: 50% 50%;
}
.c-product-list__item:hover .c-product-list__title {
    opacity: 1;
    font-size: 20px;
}

.c-product-list__item:hover .c-product-list__image {
    transform: scale(1.2);
}
